*{
    font-size: 1.1rem;
    font-family: garamond;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(./images/background-cell.jpg);
    background-size: 100%;
}

.container {
    background: linear-gradient(180deg, rgba(0,0,0) 63%, rgb(22, 31, 34) 100%);
    color:rgb(212, 209, 209);
    width: 82vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 0.4rem;
    border-left: 0.3rem solid black;
    border-right: 0.3rem solid black;
    align-items: center;
    justify-content: space-evenly;
}

.noteContainer {
    background-image: url(./images/note.jpg);
    color:rgb(212, 209, 209);
    width: 68vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-left: 0.3rem solid rgba(224, 219, 219, 0.562);
    border-right: 0.3rem solid rgba(224, 219, 219, 0.562);
    align-items: center;
    justify-content: space-between;
}

.PassedOutContainer {
    background: linear-gradient(180deg, rgba(0,0,0) 63%, rgb(22, 31, 34) 100%);
    color:rgb(212, 209, 209);
    width: 82vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    border-radius: 0.4rem;
    border-left: 0.3rem solid black;
    border-right: 0.3rem solid black;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.button-style {
    background-color: rgb(22, 31, 34);
    border: rgb(22, 31, 34);
    border-radius: 0.5rem;
    color: rgb(212, 209, 209);
    padding: 1rem;
}

.button-style-note {
    background-color: rgb(22, 31, 34);
    border: rgb(22, 31, 34);
    border-radius: 0.5rem;
    color: rgb(212, 209, 209);
    padding: 1rem;
}

.button-style-note:hover {
    background-color: rgba(0, 0, 0, 0.87);
    cursor: pointer
}

.button-style:hover {
    background-color: rgba(48, 48, 45, 0.514);
    cursor: pointer;
}

.text-style {
    text-align: center;
    background-color: rgb(22, 31, 34);
    width: 50%;
    border-radius: 0.5rem;
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

.text-style-note {
    color: rgb(49, 49, 41);
    font-size: 1.9rem;
    padding-left: 1.4rem;
    padding-right: 1.3rem;
}

.text-style-end {
    font-size: 6rem;
}

.imgHoodedStranger {
    content: url(./images/hooded-character.jpg);
    border-radius: 1rem;
    flex: 0.6;
}

.imgGuardsArriving {
    content: url(./images/arrested.png);
    border-radius: 1rem;
    flex: 0.4;
}

.imgDungeon {
    content: url(./images/dungeon.jpg);
    border-radius: 1rem;
    width: 60%;
}

.imgKnockedOut {
    content: url(./images/knocked-out.png);
    border-radius: 1rem;
    width: 60%;
}

.speaker-name {
    font-size: 1.4rem;
}